# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

.DS_Store

# snapcraft files
parts
prime
snap
stage
*.snap

# bfg
bfg.jar
*bfg-report*
*bfg-report

# builds
build
dist
bin

# flatpak
.flatpak-builder
build-dir
#repo
